.btn-add {
  margin-top: 15px;
  background-color: #0d6efd !important;
  color: white;
}

.form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.full-width {
  width: 100%;
}

.area-cal {
  background-color: none;
  color: black;
  border: none;
  height: 40px;
  padding-top: 10px;
}


.read-only-field {
  background-color: rgb(194, 194, 194);
  border-bottom: 1px rgb(70, 70, 70) solid;
  border-radius: 3px 3px 0px 0px;
}

.read-only-title {
  color: rgb(63, 63, 63);
  font-size: 10.5px;
  padding: 8px 0px 0px 8px;
  margin-bottom: 0px;
}

.read-only-input {
  color: rgb(0, 0, 0);
  font-weight: 500;
  padding: 0px 0px 5px 10px;
  margin-bottom: 0px;
  font-size: 20px;
}

.read-result-field {
  background-color: rgb(255, 255, 255);
  border: 1px rgb(146, 146, 146) solid;
  border-radius: 3px;
}



.read-result-title {
  color: rgb(63, 63, 63);
  font-size: 10.5px;
  padding: 8px 0px 0px 8px;
  margin-bottom: 0px;
}

.read-result-input {
  color: rgb(87, 87, 87);
  padding: 0px 0px 5px 10px;
  margin-bottom: 0px;
}

.disabled {
  pointer-events: none;
  background-color: rgba(136, 136, 136, 0.38);
  margin-bottom: 10px;
  color: rgba(136, 136, 136, 0.38);
  display: flex;
}



//disabled forms

.disabled-title {
  color: rgb(63, 63, 63);
  font-size: 10.5px;
  padding: 8px 0px 0px 8px;
  margin-bottom: 0px;
}

.disabled-input {
  color: rgb(87, 87, 87);
  padding: 0px 0px 5px 10px;
  margin-bottom: 0px;
  pointer-events: none;
}

.disabled-field {
  background-color: rgb(207, 207, 207);
  border: 1px rgb(146, 146, 146) solid;
  border-radius: 3px;
}