<div class="container-fluid">
  <div class="row">
    <div class="col bread-crumb">
      <i style="display: inline;" class="fa-solid fa-clipboard-list fa-2xl"></i>
      <h1 style="display: inline; font-size: 30px;"> ORDEN DE TRABAJO </h1>
      <h4 style="display: inline; font-size: 20px;">Panel de Orden de Trabajo</h4>
    </div>
  </div>
</div>
<div class="container-fluid contenedor-tabla">
  <div class="row">

    <div class="col-5 mb-3">
      <div class="button">
        <button class="btn btn-add" type="button" routerLink="/add-orden-trabajo"
          style="font-size: 28px; font-weight: 500; "> AGREGAR ORDEN DE TRABAJO </button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="contenedor-filtro">
      <form [formGroup]="filtroData" (ngSubmit)="filtrarTabla()">
        <div class="container-fluid">
          <div class="row">
            <div class="col-2">
              <i class="fa-solid fa-calendar"></i>
              <p style="display: inline; padding-left:6px;">Fecha de inicio: </p>
              <mat-form-field appearance="outline">
                <mat-label>Seleccionar</mat-label>
                <input matInput [matDatepicker]="picker1" formControlName="fecha_inicio_filtro"
                  name="fecha_inicio_filtro">
                <mat-hint>DD/MM/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>
            </div>

            <div class="col-2">
              <i class="fa-solid fa-calendar"></i>

              <p style="display: inline; padding-left:6px;">Fecha de fin: </p>
              <mat-form-field appearance="outline">
                <mat-label>Seleccionar</mat-label>
                <input matInput [matDatepicker]="picker2" formControlName="fecha_fin_filtro" name="fecha_fin_filtro">
                <mat-hint>DD/MM/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
              </mat-form-field>
            </div>

            <div class="col-2">
              <i class="fa-solid fa-filter"></i>
              <p style="display: inline; padding-left:6px;">Tipo de impuesto: </p>
              <mat-form-field appearance="fill">
                <mat-label>Selecciona un tipo de impuesto</mat-label>
                <mat-select matNativeControl formControlName="id_tipo_impuesto" name="id_tipo_impuesto"
                  id="id_tipo_impuesto">
                  <mat-option *ngFor="let datoTipoImpuesto of selectorTipoImpuesto"
                    value="{{ datoTipoImpuesto.id_tipo_impuesto }}">{{datoTipoImpuesto.nombre}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>


            <div class="col-4">
              <div class="container">
                <div class="row">
                  <div class="col-4">
                    <div class="indicador-titulo">TOTAL NETO</div>
                    <div class="indicador-valor">
                      <p> $ {{ this.addPoint(this.total_neto_filtro) }}</p>
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="indicador-titulo">TOTAL IVA</div>
                    <div class="indicador-valor">
                      <p> $ {{ this.addPoint(this.total_iva_filtro) }}</p>
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="indicador-titulo">VALOR TOTAL</div>
                    <div class="indicador-valor">
                      <p> $ {{ this.addPoint(this.total_filtro) }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-2">
              <div class="row">
                <div class="col">
                  <button cButton class="boton-filtro" color="primary" type="submit">Filtrar</button>
                </div>
                <div class="col">
                  <button cButton class="boton-reset" color="warning" (click)="limpiarFiltro()"
                    type="submit">Limpiar</button>
                </div>
              </div>
            </div>

          </div>
        </div>
      </form>
    </div>
  </div>


  <div class="row">
    <div class="col-3">
    </div>
    <div class="col-1 offset-5 pt-4">
      <div class="pdf-button" style="padding-left: 60px;">
        <i class="fa-sharp fa-solid fa-print fa-2xl" (click)="tablaPdf()"></i>
      </div>
    </div>
    <div class="col-3">
      <mat-form-field appearance="standard">
        <mat-label>Buscar</mat-label>
        <input matInput (keyup)="applyFilter($event)" #input>
      </mat-form-field>
    </div>
  </div>
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

      <!-- Position Column -->
      <ng-container matColumnDef="id_orden_trabajo" class="table-head">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let element" style="font-size: 13px;"> <strong
            style="font-size: 13px;">{{element.id_orden_trabajo}} </strong> </td>
        <td mat-footer-cell *matFooterCellDef style="border: none;"></td>
      </ng-container>

      <ng-container matColumnDef="id_cliente" class="table-head" style="display: none;">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID CLI. </th>
        <td mat-cell *matCellDef="let element"> </td>
        <td mat-footer-cell *matFooterCellDef style="border: none;"></td>
      </ng-container>

      <ng-container matColumnDef="estado_orden" class="table-head">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ESTADO </th>
        <td mat-cell *matCellDef="let element" style="font-size: 13px;">

          <div *ngIf="element.deuda == 0">
            <i class="fa-solid fa-dollar-sign fa-xl" style="color:rgb(255, 255, 255) !important; background-color: green; padding: 18px 14px 18px 14px; border-radius: 50%;"></i>
          </div>
          <div *ngIf="element.deuda != 0">
              <i class="fa-solid fa-dollar-sign fa-xl" style="color:rgb(255, 255, 255) !important; background-color: red; padding: 18px 14px 18px 14px;border-radius: 50%;"></i>
          </div>

        </td>
        <td mat-footer-cell *matFooterCellDef style="border: none;"></td>

      </ng-container>

      <ng-container matColumnDef="nombre_cliente" class="table-head">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID - NOMBRE CLIENTE </th>
        <td mat-cell *matCellDef="let element" style="text-align: left; padding-left: 10px; font-size: 13px;">
          <strong style="font-size: 13px;">{{element.id_cliente}}</strong> - {{element.nombre_cliente}}
        </td>
        <td mat-footer-cell *matFooterCellDef style="border: none;"></td>
      </ng-container>

      <ng-container matColumnDef="email_cliente" class="table-head">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> EMAIL CLIENTE </th>
        <td mat-cell *matCellDef="let element" style="text-align: left; padding-left: 10px; font-size: 13px;">
          <strong style="font-size: 13px;">{{element.email_cliente}}</strong>
        </td>
        <td mat-footer-cell *matFooterCellDef style="border: none;"></td>

      </ng-container>

      <ng-container matColumnDef="rut_empresa" class="table-head">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> RUT EMPRESA </th>
        <td mat-cell *matCellDef="let element" style="font-size: 13px;"> {{element.rut_empresa}} </td>
        <td mat-footer-cell *matFooterCellDef style="border: none;"></td>

      </ng-container>

      <ng-container matColumnDef="nombre_empresa" class="table-head">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> NOMBRE EMPRESA </th>
        <td mat-cell *matCellDef="let element" style="text-align: left; padding-left: 10px; font-size: 13px;">
          {{element.nombre_empresa}}
        </td>
        <td mat-footer-cell *matFooterCellDef style="border: none;"></td>

      </ng-container>

      <ng-container matColumnDef="fecha_orden_trabajo" class="table-head">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> FECHA OT </th>
        <td mat-cell *matCellDef="let element" style="font-size: 13px;"> {{element.fecha_orden_trabajo}} </td>
        <td mat-footer-cell *matFooterCellDef style="border: none;"></td>

      </ng-container>

      <ng-container matColumnDef="nro_item" class="table-head">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> N° ITEM </th>
        <td mat-cell *matCellDef="let element" style="font-size: 13px;"> {{element.nro_item}} </td>
        <td mat-footer-cell *matFooterCellDef style="border: none;"></td>
      </ng-container>

      <ng-container matColumnDef="nro_cantidad" class="table-head">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> N° CANT. </th>
        <td mat-cell *matCellDef="let element" style="font-size: 13px;"> {{element.nro_cantidad}} </td>
        <td mat-footer-cell *matFooterCellDef style="border: none;"></td>
      </ng-container>

      <ng-container matColumnDef="tiempo_entrega" class="table-head">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> TIEMPO ENTREGA </th>
        <td mat-cell *matCellDef="let element" style="font-size: 13px;"> {{element.tiempo_entrega}} </td>
        <td mat-footer-cell *matFooterCellDef style="border: none;"></td>
      </ng-container>

      <ng-container matColumnDef="producto_entregado" class="table-head">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> PRODUCTO ENTREGADO </th>
        <td mat-cell *matCellDef="let element" style="font-size: 13px;"> {{ element.entregado }} </td>
        <td mat-footer-cell *matFooterCellDef style="border: none;"></td>
      </ng-container>

      <ng-container matColumnDef="producto_pendiente" class="table-head">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> PRODUCTO PENDIENTE </th>
        <td mat-cell *matCellDef="let element" style="font-size: 13px;"> {{ element.pendiente }} </td>
        <td mat-footer-cell *matFooterCellDef style="border: none;"></td>
      </ng-container>

      <ng-container matColumnDef="descuento" class="table-head">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> DESCUENTO </th>
        <td mat-cell *matCellDef="let element" style="font-size: 13px;"> $ {{ this.addPoint(element.descuento) }} </td>
        <td mat-footer-cell *matFooterCellDef style="border: none;"></td>
      </ng-container>


      <ng-container matColumnDef="total_neto" class="table-head">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> TOTAL NETO </th>
        <td mat-cell *matCellDef="let element" style="font-size: 13px; background-color: rgb(255, 255, 210);"> $ {{
          this.addPoint(element.total_neto) }} </td>
        <td mat-footer-cell *matFooterCellDef
          style="border: none; border-right: 1px solid white; background-color: rgb(255, 255, 210);"> Total </td>
      </ng-container>

      <ng-container matColumnDef="total_iva" class="table-head">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> TOTAL IVA </th>
        <td mat-cell *matCellDef="let element" style="font-size: 13px; background-color: rgb(255, 255, 210);"> $ {{
          this.addPoint(element.total_iva) }} </td>
        <td mat-footer-cell *matFooterCellDef
          style="border: none; border-right: 1px solid white; background-color: rgb(255, 255, 210);"> Total </td>
      </ng-container>

      <ng-container matColumnDef="total" class="table-head">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> TOTAL </th>
        <td mat-cell *matCellDef="let element" style="font-size: 13px; background-color: rgb(255, 255, 210);"> $ {{
          this.addPoint(element.total) }} </td>
        <td mat-footer-cell *matFooterCellDef style="border: none; background-color: rgb(255, 255, 210);"> Total </td>
      </ng-container>

      <ng-container matColumnDef="primer_abono" class="table-head">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> PRIMER ABONO </th>
        <td mat-cell *matCellDef="let element" style="font-size: 13px;"> {{ element.primer_abono }} </td>
        <td mat-footer-cell *matFooterCellDef style="border: none;"></td>
      </ng-container>


      <ng-container matColumnDef="forma_pago" class="table-head">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> FORMA PAGO </th>
        <td mat-cell *matCellDef="let element" style="font-size: 13px;"> {{ element.forma_pago }} </td>
        <td mat-footer-cell *matFooterCellDef style="border: none;"></td>
      </ng-container>

      <ng-container matColumnDef="abono" class="table-head">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ABONO </th>
        <td mat-cell *matCellDef="let element" style="font-size: 13px; background-color: rgb(210, 245, 255);">
          $ {{ this.addPoint(element.abono) }}</td>
        <td mat-footer-cell *matFooterCellDef
          style="border: none; border-right: 1px solid white; background-color: rgb(210, 245, 255);"></td>
      </ng-container>

      <ng-container matColumnDef="deuda_total" class="table-head">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> DEUDA TOTAL </th>
        <td mat-cell *matCellDef="let element" style="font-size: 13px; background-color: rgb(255, 255, 210);">
          $ {{ this.addPoint(element.deuda) }} </td>
        <td mat-footer-cell *matFooterCellDef
          style="border: none; border-right: 1px solid white; background-color: rgb(255, 255, 210);"></td>
      </ng-container>


      <ng-container matColumnDef="gestionar" class="table-head" style="display: none;">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> PAGO </th>
        <td mat-cell *matCellDef="let element">
          <div
            style="background-color: rgb(39, 98, 175); padding: 5px 5px 5px 5px; margin: 10px 10px 10px 10px; border-radius: 6px;"
            (click)="openPago(element.id_orden_trabajo)">
            <i class="fa-solid fa-money-check-dollar fa-lg" style="color:white;"></i>
          </div>
        </td>
        <td mat-footer-cell *matFooterCellDef style="border: none;"></td>

      </ng-container>


      <ng-container matColumnDef="descargar_pdf" class="table-head">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> PDF </th>
        <td mat-cell *matCellDef="let element">
          <div class="pdf-button"><img src="../../../../assets/icons/pdf.png" alt=""
              style="height: 40px; display: block; margin-left: auto; margin-right: auto;"
              (click)="openPdf(element.id_orden_trabajo)"></div>
        </td>
        <td mat-footer-cell *matFooterCellDef style="border: none;"></td>

      </ng-container>


      <ng-container matColumnDef="editar" class="table-head">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> EDITAR </th>
        <td mat-cell *matCellDef="let element">
          <a class="btn btn-warning fa-solid fa-pen-to-square" style="color:white;"
            (click)="updateOrdenTrabajo(element.id_orden_trabajo, element.id_cliente)"></a>

        </td>
        <td mat-footer-cell *matFooterCellDef style="border: none;"></td>

      </ng-container>

      <ng-container matColumnDef="eliminar" class="table-head">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 3% !important;"> ELIMINAR </th>
        <td mat-cell *matCellDef="let element" style="margin: 0px !important">
          <a class="btn btn-danger fa-solid fa-trash-can" style="color:white;"
            (click)="deleteOrdenTrabajo(element.id_orden_trabajo)"></a>

        </td>
        <td mat-footer-cell *matFooterCellDef style="border: none;"></td>

      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" aria-label="Select page of users"></mat-paginator>
  </div>
  <br>
</div>