<div class="container-fluid">
    <div class="row">
        <div class="col-1">
            <img src="../../../assets/images/logo-graficag.png" class="header-img" alt="">
        </div>
        <div class="col-2">
            <p class="hora">21:27</p>
            <p class="fecha"> 13-02-2022</p>

        </div>
        <div class="col-6">
            <h1 class="text-center pt-3">Hola, Usuario.</h1>
        </div>
        <div class="col-1 offset-2">
            <img src="../../../assets/images/profile-img.png" class="profile-img" alt="">
        </div>
    </div>




    <div class="row fila">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid fila">
                <div class="row">
                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav">

                            <li class="nav-item">
                                <a class="nav-link" href="home"><i class="fa-solid fa-house" style="color: #7B6F93;"
                                        aria-hidden="true"></i>HOME</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="cotizacion">
                                    <i class="fa-solid fa-file" style="color: #7B6F93;" aria-hidden="true"></i>
                                    COTIZACION
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="orden-trabajo"><i class="fa-solid fa-clipboard-list"
                                        style="color: #7B6F93;" aria-hidden="true"></i> ORDEN DE TRABAJO </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="reporte">
                                    <i class="fa-solid fa-chart-pie" style="color: #7B6F93;" aria-hidden="true"></i>
                                    REPORTE </a>
                            </li>



                            <li class="nav-item">
                                <a class="nav-link" href="proveedor"><i class="fa-solid fa-dolly"
                                        style="color: #7B6F93;" aria-hidden="true"></i> PROVEEDORES </a>
                            </li>


                            <li class="nav-item">
                                <a class="nav-link" href="cliente"><i class="fa-solid fa-users" style="color: #7B6F93;"
                                        aria-hidden="true"></i> CLIENTES </a>
                            </li>


                            <li class="nav-item">
                                <a class="nav-link" href="usuarios"><i class="fa-solid fa-user-gear"
                                        style="color: #7B6F93;" aria-hidden="true"></i> USUARIOS</a>
                            </li>




                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fa-solid fa-gears" style="color: #7B6F93;" aria-hidden="true"></i>
                                    MANTENEDOR
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <li><a class="dropdown-item" href="empresa"><i class="ti-pencil-alt2"
                                                style="padding-right:10px;color: #7B6F93;"></i>EMPRESAS</a></li>
                                    <li><a class="dropdown-item" href="forma-pago"><i class="ti-rocket"
                                                style="padding-right:10px;color: #7B6F93;"></i>FORMAS DE PAGO</a></li>
                                    <li><a class="dropdown-item" href="producto"><i class="ti-flag"
                                                style="padding-right:10px;color: #7B6F93;"></i>PRODUCTOS</a></li>
                                    <li><a class="dropdown-item" href="categoria"><i class="ti-flag"
                                                style="padding-right:10px;color: #7B6F93;"></i>CATEGORIAS</a></li>
                                    <!-- <li><a class="dropdown-item" href="tipo-valor"><i class="ti-flag"
                                                style="padding-right:10px;color: #7B6F93;"></i>TIPO DE VALOR</a></li> -->
                                    <li><a class="dropdown-item" href="terminacion"><i class="ti-flag"
                                                style="padding-right:10px;color: #7B6F93;"></i>TERMINACIONES</a></li>
                                </ul>
                            </li>



                        </ul>
                    </div>
                </div>
            </div>

        </nav>
    </div>
</div>


<router-outlet></router-outlet>