<div class="container">
  <div class="row">


    <form [formGroup]="terminacionForm" (ngSubmit)="addTerminacion()">
      <mat-dialog-content>

        <div class="container-fluid">
          <div class="row">
            <div class="col-2">
              <div class="mb-3" style="text-align: justify;">
                <mat-form-field class="full-width" appearance="fill">
                  <mat-label>ID</mat-label>
                  <input matInput [readonly]="true" value="{{this.terminacionLastId}}">
                </mat-form-field>
              </div>
            </div>

            <div class="col-4">
              <mat-form-field class="full-width" appearance="fill">
                <mat-label>Categoria</mat-label>

                <mat-select matNativeControl required formControlName="categoria" name="categoria" id="categoria">
                  <mat-option *ngFor="let datoCategoria of selectorCategoria" value="{{ datoCategoria.id_categoria }}">
                    {{datoCategoria.nombre}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="col-6">
              <div class="mb-3" style="text-align: justify;">
                <mat-form-field class="full-width" appearance="fill">
                  <mat-label>Nombre</mat-label>
                  <input matInput id="nombre" name="nombre" formControlName="nombre">
                </mat-form-field>
              </div>
            </div>
          </div>



        </div>

      </mat-dialog-content>

      <mat-dialog-actions>
        <div class="col-6 offset-6">
          <button class="btn btn-secondary" mat-button mat-dialog-close>Cancelar</button>
          <button type="submit" class="btn btn-primary" [disabled]="terminacionForm.invalid" mat-dialog-close>Agregar
            terminacion</button>
        </div>
      </mat-dialog-actions>

    </form>
  </div>

</div>